<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="7sjnIBUrTp6xbnvHxT8Vf86cQeFZFtp8y2wZNtFauAPCPhHFjyPTcPvHf0w0tPhWwfWnKrjsS4xSRd28aETg6w==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_270080" href="/books/270080">Show</a></td>
        <td><a class="edit_270080" href="/books/270080/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270080" rel="nofollow" data-method="delete" href="/books/270080">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_270081" href="/books/270081">Show</a></td>
        <td><a class="edit_270081" href="/books/270081/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270081" rel="nofollow" data-method="delete" href="/books/270081">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_270082" href="/books/270082">Show</a></td>
        <td><a class="edit_270082" href="/books/270082/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270082" rel="nofollow" data-method="delete" href="/books/270082">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_270083" href="/books/270083">Show</a></td>
        <td><a class="edit_270083" href="/books/270083/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270083" rel="nofollow" data-method="delete" href="/books/270083">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_270084" href="/books/270084">Show</a></td>
        <td><a class="edit_270084" href="/books/270084/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270084" rel="nofollow" data-method="delete" href="/books/270084">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_270085" href="/books/270085">Show</a></td>
        <td><a class="edit_270085" href="/books/270085/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270085" rel="nofollow" data-method="delete" href="/books/270085">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_270086" href="/books/270086">Show</a></td>
        <td><a class="edit_270086" href="/books/270086/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_270086" rel="nofollow" data-method="delete" href="/books/270086">Destroy</a></td>
      </tr>
  </tbody>
</table>



<h3>New book</h3>
<!-- form_with部分 -->
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>


